label {
    color: black;
    display: flex;
    flex-direction: column;

    input {
        margin: 0;
        padding: 0;
        box-sizing: border-box;

        width: 80px;
        height: 40px;
    }
}

#input_country {
    width: 180px;
    padding: 0 12px;
}

input[type='number'] {
    text-align: center;
}