#list_container {
    margin: 0;
    padding: 20px 12px;
    box-sizing: border-box;
    border: 1px solid lightgray;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.list_title {
    height: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
    color: black;
    background-color: rgb(221, 221, 221);

    border-radius: 10px;

    .country {
        width: 144px;
        margin-right: 20px;

        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .idx {
        margin-left: 12px;
    }
}

.idx, .country, .medal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.idx {
    width: 60px;
    margin-right: 20px;
    color: gray;
}

.medal {
    width: 100px;

    
}

.hide {
    display: none;
}

.lists {
    height: 40px;
    display: flex;
    justify-content: center;
    gap: 12px;
    color: black;
    
    .country {
        width: 144px;
        margin-right: 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}

.deletBtn {
    width: 150px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 0;
    padding: 0;
    margin-left: 20px;
    box-sizing: border-box;

    font-size: 14px;
    
    color: rgb(241, 166, 166);

    cursor: pointer;

    &:hover {
        text-decoration: underline;
    }
}

#sort {
    height: 30px;
    width: 150px;
    margin-left: 20px;
    padding: 0;
    box-sizing: border-box;

    text-align: center;
    
    color: gray;
    border: 0;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 4px rgba(162, 162, 162, 0.1);
}